<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Scores</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% assets "main_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column2">Position</th>
                                    <th class="cell100 column2">Team #</th>
                                    <th class="cell100 column3">Name</th>
                                    <th class="cell100 column5">Top {{average}} Average</th>
                                    <th class="cell100 column4">Scores</th>
                                    
                                </tr>                
                            </thead>
                        </table>
                    </div>

                    <div class="table-body js-pscroll">
                        <table>
                            <tbody>
                                {{table}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>