<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Scores</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
    table{
    border: 1px solid black;
    width: 100%;
    font-size: 150%
    }
    </style>
    <script>
    var millisecondsToWait = 1;
    var millisecondsToPause = 3000;
    var startTime = new Date().getTime();
    

    var scroll = setInterval(function(){
        var now = new Date().getTime();
        while(now + millisecondsToPause > new Date().getTime()){}
        console.log("lowering")
        window.scrollBy(0,50); 
        }, 
        200);
    var shouldpass = 0
    var reset = setInterval(function(){
        //$('html, body').animate({ scrollTop: 0 }, 'fast');
        if(shouldpass < 17){
            shouldpass = shouldpass + 1;
            console.log('Skipping this reset');
        }
        else{
            document.body.scrollTo(0,0)
            console.log('Resetting the view');
            document.location.reload(true);
        }
    },
    2400);
    </script>
</head>
<body>
{{table}}
</table>
</body>
</html>